@font-face{
	font-family: Proxima;
	src: url('Asset/Fonts/ProximaNovaSoft-Regular.otf');
}

.hnid-teditor-c{
	width: 100%;
	border: 1px solid darkgray;
	border-radius: 4px 4px 0 0;
}

.hnid-teditor-c .hnid-teditor-header button,label{
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.hnid-teditor-c button:hover{
	background-color: gray;
}

.hnid-teditor-c .hnid-teditor-header{
	background-color: #fff;
	border-bottom: 1px solid darkgray;
	box-shadow: 0px 1px 3px gray;
	position: relative;
}

.hnid-teditor-c .hnid-teditor-header:before{
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	height: 5px;
	background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px 3px 0 0;
}

.hnid-teditor-c .hnid-teditor-header .hnid-tabset input[type="radio"]{
	display: none;
}

.hnid-teditor-c .hnid-teditor-header .hnid-tabset .hnid-tab-panel{
	display: none;
	border-top: 1px solid darkgray;
	padding: 10px;
	min-height: 30px;
}

.hnid-tabset > input:first-child:checked ~ .hnid-tab-panels > .hnid-tab-panel:first-child,
.hnid-tabset > input:nth-child(3):checked ~ .hnid-tab-panels > .hnid-tab-panel:nth-child(2),
.hnid-tabset > input:nth-child(5):checked ~ .hnid-tab-panels > .hnid-tab-panel:nth-child(3),
.hnid-tabset > input:nth-child(7):checked ~ .hnid-tab-panels > .hnid-tab-panel:nth-child(4),
.hnid-tabset > input:nth-child(9):checked ~ .hnid-tab-panels > .hnid-tab-panel:nth-child(5),
.hnid-tabset > input:nth-child(11):checked ~ .hnid-tab-panels > .hnid-tab-panel:nth-child(6) {
  display: block;
}

.hnid-teditor-c .hnid-teditor-header .hnid-tabset > label{
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	position: relative;
	font-family: Proxima;
	font-weight: 600;
	color: #474747;
	font-size: 15px;
	margin-left: 5px;
	background-color: transparent;
}

.hnid-teditor-c .hnid-teditor-header .hnid-tabset > input:checked + label{
	border-bottom: 1px solid darkgray;
	margin-bottom: -1px;
	color: #3498db;
}

#hnid-txt-format-c .txt-fm-cop-st{
	border-right: 1px solid darkgray;
	display: inline-block;
}

#hnid-txt-format-c .txt-fm-cop-st .txt-fm-cop-btn{
	font-size: 15px;
	margin-left: 5px;
}

#hnid-txt-format-c .txt-fm-cop-st .txt-fm-sl{
	height: 30px;
	margin-left: 5px;
}

#hnid-txt-format-c .txt-fm-cop-st #txt-fm-sl-f-family{
	width: 90px;
}

.center-element{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hnid-teditor-c .hnid-teditor-body{
	width: 100%;
	position: relative;
}

.hnid-teditor-c .hnid-teditor-body #hnid-content{
	width: 100%;
	min-height: 300px;
	margin: 25px;
	box-sizing: border-box;
	position: relative;
	outline: 0;
	font-family: Proxima;
}

.hnid-teditor-body:before,
.hnid-teditor-body:after{
	position: absolute;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-color: darkgray;
	content: '';
}

.hnid-teditor-body:before{
	top: 15px;
	left: 15px;
	border-width: 1px 0 0 1px;
}

.hnid-teditor-body:after{
	top: 15px;
	right: 15px;
	border-width: 1px 1px 0 0;
}

.hnid-btn-active{
	background-color: darkgray;
}

#hnid-foreClr{
	position: relative;
}

#hnid-foreClr:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 3px;
	background-color: black;
}

.hidden-select{
	position: relative;
	outline: 0;
}

.hidden-select select{
	display: none;
}

.hidden-select i{
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
	font-style: normal;
}

.hidden-select .select-selected{
	background-color: #bdc3c7;
}

.hidden-select .select-items{
	position: absolute;
	top: 40px;
	left: -5px;
	z-index: 99;
	width: auto;
	background-color: #ecf0f1;
	max-height: 250px;
	border-radius: 5px;
}

.hidden-select .select-items .select-item{
	padding: 10px 15px 10px 15px;
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
}

.hidden-select .select-items .select-item:first-child{
	border-radius: 5px 5px 0px 0px;
}

.hidden-select .select-items .select-item:last-child{
	border-radius: 0 0 5px 5px;
}

.hidden-select .select-items .select-item:hover{
	background-color: darkgray;
}

.hidden-select .select-items:before{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom:  5px solid gray;
	content: '';
	position: absolute;
	top: -10px;
	left: 35%;
}

.hidden-select .select-close{
	display: none;
}

#hnid-content blockquote{
	position: relative;
	padding-left: 1em;
	border-left: 0.2em solid #4d91b3;
	border-right: 0.2em solid #4d91b3;
	font-size: 1.3em;
	line-height: 30px;
	font-weight: 200;
	font-style: italic;
}

#hnid-content p{
	max-width: 100%;
	word-break: break-all;
}